<!-- <div class="mb-3">
  <label for="" class="form-label">Užduotis: </label>
  <input type="text" class="form-control" />
</div>
<div class="mb-3">
  <select class="form-select" aria-label="task type selection">
    <option selected>Pasirinkite užduoties tipą</option>
    <option value="Skubus">Skubus</option>
    <option value="Rutininis">Rutininis</option>
    <option value="Neskubus">Neskubus</option>
    <option value="Ypač skubus">Ypač skubus</option>
  </select>
</div>
<button class="btn btn-success" (click)="addTask()">Pridėti</button> -->

<div class="mt-3">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let task of tasks; let n = index">
      <b>{{ n + 1 }}. {{ task.text }}.</b> Užduoties tipas: {{ task.type }}
    </li>
  </ul>
</div>
