<div class="mb-3">
  <label for="" class="form-label">Užduotis: </label>
  <input type="text" class="form-control" [(ngModel)]="taskName" />
</div>
<div class="mb-3">
  <select
    class="form-select"
    aria-label="task type selection"
    [(ngModel)]="taskType"
  >
    <option selected>Pasirinkite užduoties tipą</option>
    <option value="Skubus">Skubus</option>
    <option value="Rutininis">Rutininis</option>
    <option value="Neskubus">Neskubus</option>
    <option value="Ypač skubus">Ypač skubus</option>
  </select>
</div>
<button class="btn btn-success" (click)="addTask()">Pridėti</button>
